:host {
  height: 24px;
  width: 24px;
  background-color: currentColor;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
}
