.drawn-square {
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    background: transparent;
    border: none;
    border-radius: 4px;
    z-index: 2;
    pointer-events: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px 5px 10px;
    box-shadow: none;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    
    
    
    &:hover {
        color: white;
        background: rgba(80, 80, 100, 0.3);
        z-index: 3;
    }
}
