

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  margin-top: 7%;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}


input {
  ::-webkit-input-placeholder {
     color: rgba(255,255,255,0.7);
  }
  ::-moz-placeholder {
     color: rgba(255,255,255,0.7);
  }
  :-ms-input-placeholder {
     color: rgba(255,255,255,0.7);
  }
  &:focus {
    outline: 0 transparent solid;
    ::-webkit-input-placeholder {
     color: rgba(0,0,0,0.7);
    }
    ::-moz-placeholder {
       color: rgba(0,0,0,0.7);
    }
    :-ms-input-placeholder {
       color: rgba(0,0,0,0.7);
    }
  }
}


.login-form {
  /* //background: #222;
  //box-shadow: 0 0 1rem rgba(0,0,0,0.3); */
  min-height: 10rem;
  margin: auto;
  max-width: 80%;
  padding: 0.25rem 1rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  color: white;
}


.login-text {
  /* //background: hsl(40,30,60);
  //border-bottom: .5rem solid white; */
  color: white;
  font-size: 2rem;
  margin: 0 auto;
  max-width: 50%;
  padding: .5rem;
  text-align: center;
  /* //text-shadow: 1px -1px 0 rgba(0,0,0,0.3); */
  .fa-stack-1x {
    color: black;
  }
}

.login-username, .login-password {
  background: transparent;
  border: 0 solid;
  border-radius: 4px;
  border-bottom: 1px solid rgba(white, .5);
  color: white;
  display: block;
  margin: 2rem 1rem;
  padding: 0 0.5rem; ;
  font-size: 1rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
  text-align: center;
}

.auth-info {
  /* //border-bottom: 1px solid white; */
  bottom: 0;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 75%;
  left: 0;
  opacity: 0.6;
  padding: .5rem;
  position: absolute;
  text-align: center;
  /* text-decoration: none; */
  width: 100%;
  &:hover {
    opacity: 1;
  }
}

.auth-info-link{
  color: white;
}

.login-submit {
  display:block;
  margin:3rem auto;

  border: 1px solid rgba(white, 0);
  background-color: transparent;
  box-shadow: 2px 2px 2px rgba(black, 0.0);

  &:hover{
    background-color: rgba(white, 0.2);
    border: 1px solid rgba(white, 0.3);
    transition: 250ms background ease-in;
    transition: 250ms border ease-in;
    }

}


