<div id="background">
    <app-navbar #navbar [isClockVisible]="true" [isLogoutVisible]="true"></app-navbar>
        <div class="debug-overlay">
            <div>cameraX: {{cameraX}} cameraY: {{cameraY}}</div>
            <div>zoom: {{zoom}}</div>
        </div>
        <div class="board-container" #board>

            <!-- Draw squares using divs -->
            <div #itemsContainer>
                <ng-container *ngFor="let item of tiles">
                    <app-board-tile
                        [tile]="item"
                        (dblclick)="centerOnItem(item)"
                        *ngIf="isItemVisible(item)"
                    >
                    </app-board-tile>
                </ng-container>
            </div>

            <!-- Drawn squares (outside items-container so they can receive clicks) -->
             <div style="display: block;">
                <ng-container  *ngFor="let connector of connectors" >
                    <app-board-connector 
                        #connector
                        [data]="connector"
                        (click)="centerOnItem(connector.itemB)"
                    >
                    </app-board-connector>
                </ng-container>
             </div>

             <!-- SVG lines for connectors -->
             <svg class="connector-lines" width="100%" height="100%">
                <line *ngFor="let connector of connectors"
                    [attr.x1]="(connector.itemA.screenX + connector.itemA.screenWidth / 2)"
                    [attr.y1]="(connector.itemA.screenY + connector.itemA.screenHeight / 2)"
                    [attr.x2]="(connector.itemB.screenX + connector.itemB.screenWidth / 2)"
                    [attr.y2]="(connector.itemB.screenY + connector.itemB.screenHeight / 2)"
                    stroke="rgba(102, 126, 234, 0.5)"
                    stroke-width="2"
                />
             </svg>
    </div>
</div>
