.clock{
  display: inline-block;
  text-shadow: 2px 2px 2px rgba(black, 0.1);
  color: white;
  font-size: 5rem;
  margin-left: 0;
}

.weather{
  margin-left: 1rem;
  display: inline-block;
  text-align: right;
  color: white;
  font-size: 1em;
}

.date-time-container{
  text-align: right;
  padding-right: 3.5rem;
}

.date{
  font-family:  "Rubik", sans-serif;
  text-shadow: 2px 2px 2px rgba(black, 0.1);
  color: white;
  font-size: 1em;
  margin-left: 5rem;
}

.dateInfo{
  padding-top: 5rem;
  text-align: center;
  width: 100%;
  white-space: nowrap;
}


#scrollable{
  width: 100vw;
  height: 100vh;
  overflow-y: scroll; 
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none; 
  }
}

#content{
  width: 100%;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
  margin: 2rem 0;
  padding-left: 3rem;
  padding-right: 3rem;
}



