

/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  overflow: hidden;
  font-family: "Rubik", sans-serif;
}

html {
  display: block;
  height: 100dvh;
  margin: 0;
  background-position: bottom;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80')
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.snackbar-error {
  .mdc-snackbar__surface {
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-radius: 12px !important;
    margin: 0 0 1rem 1rem;
    border: 1px solid rgba(255, 3, 3, 0.4)
  }

  .mdc-snackbar__label {
    color: white !important;
  }
}

.snackbar-success {
  .mdc-snackbar__surface {
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-radius: 12px !important;
    margin: 0 0 1rem 1rem;
    border: 1px solid rgba(0, 255, 0, 0.4)
  }

  .mdc-snackbar__label {
    color: white !important;
  }
}

.snackbar-custom {
  .mdc-snackbar__surface {
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-radius: 12px !important;
    margin: 0 0 1rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1)
  }

  .mdc-snackbar__label {
    color: white !important;
  }
}


[class*=underlay] {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}

.underlay-black {
  background: rgba(0,0,0,0.5);
  z-index: -1;
}
